$background-box-color: rgb(240, 128, 128);
$text-color : rgb(31, 77, 77);
$button-color : rgba(31, 77, 77);
$background-color : rgba(240, 128, 128, 0.7);
$font : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {

    background: $background-color;
}

h1 {
    font-family: $font;
    color: $text-color;
}

h2 {
    font-weight: bold;
}

em {
    font-weight: bold;
}

.header{
    border-radius: 10px;
    color: $text-color;
    background-color: $background-box-color;
    display: flex;
    height:  150px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    
    &__title {
        font-family: $font;
        margin-left: 10px;
        
    }
    &__nav {
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
       
    }

    &__category {
        margin-right: 15px;
        font-family: $font;  

    }
}

li {
    list-style-type: none;  
}

#bestMovieBlock {
    background-color: $background-box-color;
    font-family: $font;  
    border-radius: 10px;
    color: $text-color;
    height:  15%;
    width: 500px;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin: auto;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 

    &__content {
    font-family: $font;
    background-color: $background-box-color;
    color: $text-color;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 10px;
    width: 50%; 
    }
    
    &__list {
        list-style-type: none;
        text-align: justify;
    }  
}

.close {
  color: $text-color;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.imgPreview {
    &:hover {
        transform:scale(1.1);
        transition: 0.1s;
        
    }
}

.images {
    &__BM {
        display: flex;
    }
    &__AM {
        display: flex;
    }
    &__T {
        display: flex;
    }
    &__H {
        display: flex;
    }
}

.btn {
    border-radius: 10px;
    background-color: $button-color;
    font-family: $font;
    color: #fff;
    height: 30px;
}

#caroussel {
    &__BM {
        display: flex;
        justify-content: space-around;
    }

    &__AM {
        display: flex;
        justify-content: space-around;
    }

    &__T {
        display: flex;
        justify-content: space-around;
    }

    &__H {
        display: flex;
        justify-content: space-around;
    }
}

.arrow {
    &__left {
        margin-top: 140px;
    }

    &__right {
        margin-top: 140px;
    }
}

#gallery {
    &__BM {
        display: flex;
        justify-content: space-around;
    }
}